//
// Flexbox Page View
// -----------------------------------------------------


#flexboxpage {

	.flex-grid {
		&.shaded {
			.flex-column:nth-child(odd) {
				background-color: $color-gray-xlight;
			}
			.flex-column:nth-child(even) {
				background-color: $color-gray-xlight-alt;
			}
		}
	}

	.flex-column {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}

}
