//
// Grids Page View
// -----------------------------------------------------
// stylelint-disable selector-max-id

#gridspage {

	.flex-grid {

		&.shaded {

			.flex-column:nth-child(odd) {
				background-color: $color-gray-xlight;
			}

			.flex-column:nth-child(even) {
				background-color: $color-gray-xlight-alt;
			}
		}
	}

	.flex-column {
		padding-bottom: 0.5em;
		padding-top: 0.5em;
	}
}
