//
// Videos Page View
// -----------------------------------------------------


#videospage {

	.responsive-iframe {
		margin-bottom: 10px;
	}

	.primary-video {
		margin-bottom: $vertical-pad-mobile;
	}

	@media (min-width: $breakpoint-tablet-min) {
		.primary-video {
			margin-bottom: $vertical-pad-tablet;
		}
	}

	@media (min-width: $breakpoint-desktop-min) {
		.primary-video {
			margin-bottom: $vertical-pad-desktop;
		}
	}

	.videos-grid {

		@media (min-width: $breakpoint-tablet-min) {

			h3 {
				min-height: 2.0em;
			}

			p {
				height: 6.0em;
				overflow: hidden;
			}
		}
	}

}
