//
// Videos Page View
// -----------------------------------------------------
// stylelint-disable selector-max-id

#videospage {

	.responsive-iframe {
		margin-bottom: 15px;
	}

	.primary-video {
		margin-bottom: var(--gutter);
	}

	.videos-grid {

		@media (min-width: $breakpoint-tablet-min) {

			h3 {
				min-height: 2.0em;
			}

			p {
				height: 6.0em;
				overflow: hidden;
			}
		}
	}
}
