//
// Datepicker
// -----------------------------------------------------


.datepicker-container {
	position: relative;

	input.datepicker {
		background: $transparent url($image-path + '/icon-calendar.png') no-repeat right 8px top 50%;
	}
}
