//
// Hero
// -----------------------------------------------------
// extends section.content


.content.hero {
	border-color: $color-black;
	display: flex;
	align-items: center;
	min-height: 56.25vw; //16x9 ratio
	overflow: hidden;

	&.bottom-angle {
		border-bottom: 0;
		// sass-lint:disable no-misspelled-properties
		-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
		-moz-clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
		// sass-lint:enable no-misspelled-properties
		clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
	}

	&.top-cutout {
		border-top: 0;
		// sass-lint:disable no-misspelled-properties
		-webkit-clip-path: polygon(0% 0%, 50% 10%, 100% 0%, 100% 100%, 0% 100%);
		-moz-clip-path: polygon(0% 0%, 50% 10%, 100% 0%, 100% 100%, 0% 100%);
		// sass-lint:enable no-misspelled-properties
		clip-path: polygon(0% 0%, 50% 10%, 100% 0%, 100% 100%, 0% 100%);
	}

	.hero-background {
		@include absolute-window;
		background: $color-white no-repeat center top;
		background-size: cover;
		transform: scale(1);
	}

	.hero-background-1 {
		background-image: url($image-path+'/media/hero-1.jpg');
	}

	.hero-background-2 {
		background-image: url($image-path+'/media/hero-2.jpg');
	}

	.hero-background-3 {
		background-image: url($image-path+'/media/hero-3.jpg');
	}

}

.content.hero.bottom-angle + .content.hero.top-cutout {
	margin-top: -5.625vw;
}
