//
// Hero
// -----------------------------------------------------
// extends section.content


.content.hero {
	align-items: center;
	border-color: $color-black;
	display: flex;
	min-height: 56.25vw; //16x9 ratio
	overflow: hidden;

	&.bottom-angle {
		border-bottom: 0;
		clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
	}

	&.top-cutout {
		border-top: 0;
		clip-path: polygon(0% 0%, 50% 10%, 100% 0%, 100% 100%, 0% 100%);
	}

	.hero-content-box {
		padding: var(--gutter);
		position: relative;

		@media (min-width: $breakpoint-tablet-min) {
			width: 75%;
		}

		@media (min-width: $breakpoint-desktop-min) {
			width: 50%;
		}

		.hero-content-box-background {
			@include absolute-window;
			background: rgba($color-black, 0.65);
			mix-blend-mode: multiply;

			&.blue-background {
				background: rgba($color-blue-dark, 0.65);
			}

			&.red-background {
				background: rgba($color-red, 0.65);
			}

			&.green-background {
				background: rgba($color-green2, 0.65);
			}
		}

		.hero-content-box-body {
			position: relative;

			> :last-child {
				margin-bottom: 0;
			}
		}

		h1, h2, h3, p {
			color: $color-white;
		}
	}

	.hero-background {
		@include absolute-window;
		background: $color-white no-repeat center top;
		background-size: cover;
		transform: scale(1);
	}

	.hero-background-1 {
		background-image: url($image-path+'/media/hero-1.jpg');
	}

	.hero-background-2 {
		background-image: url($image-path+'/media/hero-2.jpg');
	}

	.hero-background-3 {
		background-image: url($image-path+'/media/hero-3.jpg');
	}
}

.content.hero.bottom-angle + .content.hero.top-cutout {
	margin-top: -5.625vw;
}
