//
// Hero Block
// -----------------------------------------------------
// used in .hero-carousel


.hero-block {
	position: relative;

	a.hero-block-link {
		display: block;
		position: relative;

		> img {
			display: block;
			height: auto;
			max-width: none;
			width: 100%;
		}
	}

	.hero-block--content-box {
		padding: var(--gutter);
		position: relative;

		@media (min-width: $breakpoint-tablet-min) {
			bottom: var(--gutter-double);
			display: flex;
			flex-direction: column;
			justify-content: center;
			position: absolute;
			top: var(--gutter-double);
			width: 75%;
		}

		@media (min-width: $breakpoint-desktop-min) {
			width: 50%;
		}

		&.blue-background {
			background: rgba($color-blue-dark, 0.65);
		}

		&.red-background {
			background: rgba($color-red, 0.65);
		}

		&.green-background {
			background: rgba($color-green2, 0.65);
		}

		h1, h2, h3, h4, p {
			color: $color-white;
		}

		a {
			color: $color-white;
		}
	}
}
