//
// Media Block
// -----------------------------------------------------


.mediablock {
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;

	> img {
		display: block;
		height: 100%;
		position: relative;
		width: 100%;
	}

	.mediablock--info {
		background: rgba($color-black, 0.4);
		bottom: 0;
		height: auto;
		left: 0;
		min-height: 80px;
		opacity: 0;
		padding: 12px;
		position: absolute;
		right: 0;
		transition: opacity 0.1s;
		width: 100%;

		h3, p {
			color: $color-white;
			margin: 0;
		}
		a {
			color: $color-white;
		}

	}

}

.is-active .mediablock .mediablock--info {
	opacity: 1.0;
	transition: opacity 0.4s;
}
