//
// Config Vars
// -----------------------------------------------------


// Color Definitions
$color-black: #000;
$color-white: #fff;
$color-near-black: #1a1a1a;
$color-near-white: #efefef;
$color-gray-dark: #333;
$color-gray-med: #999;
$color-gray-light: #ccc;
$color-gray-xlight: #dedede;
$color-gray-xlight-alt: #cdcdcd;
$color-red1: #900;
$color-red2: #c00;
$color-green1: #9c3;
$color-green2: #693;
$color-light-blue: #69c;
$color-dark-blue: #036;
// Color Usage
$body-bg: $color-near-white;
$text-color: $color-near-black;
$link-color: $color-green1;
$link-hover-color: $color-green2;
$border-color-dark: $color-gray-dark;
$border-color-med: $color-gray-med;
$border-color-light: $color-gray-light;
$border-color-xlight: $color-gray-xlight;
$error-color: $color-red1;
$transparent: rgba(0,0,0,0); //iOS friendly transparent


// Fonts
$main-font: Arial, sans-serif;
$alt-font: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
$serif-font: 'Arvo', Georgia, Times, serif;


// Paths
$image-path: '/_assets/images';
$font-path: '/_assets/fonts';


// Animation
$slow-anim-speed:  0.8s;
$animation-speed:  0.4s;
$transition-speed: 0.2s;


// Z-Indexes
$spinner-zindex: 10;
$tooltip-zindex: 90;
$modal-zindex:  100;


// Misc
$border-radius-sm:  4px;
$border-radius-lg: 10px;


// Media Queries
$breakpoint-mobile-wide: 540px;
$breakpoint-mobile-max:  767px;
$breakpoint-tablet-min:  768px;
$breakpoint-tablet-wide: 920px;
$breakpoint-tablet-max:  1024px;
$breakpoint-desktop-min: 1025px;
$breakpoint-desktop-wide: 1360px;
$breakpoint-desktop-xwide: 1920px;
//background stretch
$breakpoint-max-background-width: 2560px;


// Container Sizes
$min-width: 320px;
$max-width: 1280px;
$mobile-container-max-width: 640px;
$tablet-container-width: 740px;
$desktop-container-width: 1000px;
$desktop-wide-container-width: $max-width;


// Grid System
$mobile-gutter-width: 20px;
$tablet-gutter-width: 30px;
$desktop-gutter-width: 40px;
$mobile-gutter-half-width: $mobile-gutter-width / 2;
$tablet-gutter-half-width: $tablet-gutter-width / 2;
$desktop-gutter-half-width: $desktop-gutter-width / 2;
$mobile-gutter-double-width: $mobile-gutter-width * 2;
$tablet-gutter-double-width: $tablet-gutter-width * 2;
$desktop-gutter-double-width: $desktop-gutter-width * 2;
$mobile-vertical-spacing: 20px;
$tablet-vertical-spacing: 40px;
$desktop-vertical-spacing: 60px;
$mobile-vertical-half-spacing: $mobile-vertical-spacing / 2;
$tablet-vertical-half-spacing: $tablet-vertical-spacing / 2;
$desktop-vertical-half-spacing: $desktop-vertical-spacing / 2;
$mobile-vertical-double-spacing: $mobile-vertical-spacing * 2;
$tablet-vertical-double-spacing: $tablet-vertical-spacing * 2;
$desktop-vertical-double-spacing: $desktop-vertical-spacing * 2;


// iPad address & tab bars
$tablet-chrome-height: 102;
