<h2>Promise Data Listing</h2>
<p>Three different Ajax endpoints (fibonacci numbers, prime numbers, and triangle numbers, each up to 100 max) loaded via a Promise, combined, sorted, &amp; de-duped into a single array.</p>
<ul class="inline">
{{#each .}}
	<li>{{.}}</li>
{{/each}}
</ul>
