<h2>Videos Grid</h2>
<div class="flex-grid flex-grid-sm-1-1 flex-grid-md-1-2 flex-grid-lg-1-2 videos-grid">
{{#each .}}
	<div class="flex-col">
		<h3>{{title}}</h3>
		<div class="responsive-iframe">
			<iframe id="video--{{videoId}}" class="video-player" type="text/html" width="640" height="360" frameborder="0" allowfullscreen
				src="//www.youtube.com/embed/{{videoId}}?enablejsapi=1&rel=0"></iframe>
		</div>
		<p>{{description}}</p>
	</div>
{{/each}}
</div>
