{{!-- this is the minimal HTML structure required for a modal --}}
<div class="modal-window">
	<div class="modal-overlay"></div>
	<div class="modal" role="dialog">
		<div class="modal--container">
			<div class="modal--header">
				<button type="button" class="btn-closeX">close modal dialog</button>
			</div>
			<div class="modal--content" role="document"></div>
		</div>
	</div>
	<a href="#" class="reset-focus"></a>
</div>
