//
// Accordion
// -----------------------------------------------------


.accordion {
	border-bottom: 2px solid $border-color-dark;
	margin: 1.5em 0;
	position: relative;

	.accordion--header {
		border-top: 2px solid $border-color-dark;
		border-bottom: 2px solid $border-color-dark;
		margin-bottom: -2px;
		position: relative;
		z-index: 2;

		> a {
			display: block;
			color: $color-near-black;
			text-decoration: none;
			background: $color-near-white;
			padding: 0.5em 1.0em;
			position: relative;

			&::after {
				content: '';
				display: block;
				width: 30px;
				height: 30px;
				background: rgba($color-gray-dark, 0) url($image-path+'/action-icons.png') no-repeat 0 -30px;
				background-origin: border-box;
				position: absolute;
				right: 10px;
				top: calc(50% - 15px);
			}

			&:hover, &:focus {
				background: $color-gray-light;
			}

			&.is-active {
				color: $color-white;
				background: $color-gray-dark;
			}

			&.is-active {
				&::after {
					background-position: 0 -330px;
				}
			}

		}

	}

	.accordion--panel {
		@include clearfix;
		overflow: hidden;
		position: relative;
		z-index: 1;

		> .accordion--panel-content {
			@include clearfix;
			padding: 1.5em;
			position: relative;
		}

	}

}
