//
// Accordion
// -----------------------------------------------------


.accordion {
	margin: 1.5em 0;
	position: relative;

	.accordion--header {
		position: relative;
		z-index: 2;
	}

	.accordion--tab {
		align-items: center;
		background: $color-near-white;
		color: $color-near-black;
		display: flex;
		justify-content: space-between;
		padding: 0.5em 1.0em;
		position: relative;
		text-decoration: none;

		&:hover, &:focus {
			background: $color-gray-light;
		}

		&.is-active {
			background: $color-gray-dark;
			color: $color-white;

			.fa-plus {
				&::before {
					content: '\f068';
				}
			}
		}
	}

	.accordion--panel {
		overflow: hidden;
		position: relative;
		z-index: 1;

		.accordion--content {
			padding: 1.5em;
			position: relative;
		}
	}
}
