//
// Auto Rotator
// -----------------------------------------------------


.auto-rotator {
	// override height & width
	height: 100%;
	margin: 1.5em 0;
	overflow: hidden;
	position: relative;
	width: 100%;

	> article,
	> img {
		@include absolute-window;
		display: block;
	}
}
