//
// Horizordion
// -----------------------------------------------------
// stylelint-disable color-named, max-nesting-depth
// Assumes 4 items

.horizordion {
	height: auto;
	margin: 1.5em 0;
	position: relative;

	@media (min-width: $breakpoint-tablet-min) {
		display: flex;
		height: 600px; // set as needed
	}

	.horizordion--header {
		display: none;

		@media (min-width: $breakpoint-tablet-min) {
			display: block;
			flex-grow: 0;
			flex-shrink: 0;
			position: relative;
			width: 44px;
		}
	}

	.horizordion--tab {
		display: none;

		@media (min-width: $breakpoint-tablet-min) {
			align-items: flex-start;
			background: $color-near-white;
			color: $color-near-black;
			display: flex;
			height: 100%;
			justify-content: center;
			padding: 0.5em 0;
			text-decoration: none;
			width: 100%;

			.horizordion--tab-text {
				@include text-hide;
				display: block;
				position: absolute;
				top: 0;
				width: 100%;
			}

			&:hover, &:focus {
				background: $color-gray-light;
			}

			&.is-active {
				background: $color-gray-dark;
				color: $color-white;

				.fa-plus {
					&::before {
						content: '\f00d';
					}
				}
			}
		}
	}

	.horizordion--panel {
		overflow: hidden;
		position: relative;

		@media (min-width: $breakpoint-tablet-min) {
			flex: 0 1 0;
			transition: flex-grow $animation-speed;

			&.is-active {
				flex-grow: 10;
			}
		}

		// Test Colors
		//&:nth-child(1) {
		//	background-color: rgba(red, 0.2);
		//}
		//
		//&:nth-child(2) {
		//	background-color: rgba(yellow, 0.2);
		//}
		//
		//&:nth-child(3) {
		//	background-color: rgba(blue, 0.2);
		//}
		//
		//&:nth-child(4) {
		//	background-color: rgba(green, 0.2);
		//}

		.horizordion--content {
			opacity: 0;
			padding: 1.5em;
			position: relative;
		}

		&.is-active {

			.horizordion--content {
				opacity: 1.0;
				transition: opacity $transition-speed;
				transition-delay: $animation-speed;
			}
		}
	}
}
