//
// Horizordion
// -----------------------------------------------------
// Assumes 4 items

.horizordion {
	height: auto;
	margin: 1.5em 0;
	position: relative;

	// Tablet+Desktop+
	@media (min-width: $breakpoint-tablet-min) {
		display: flex;
		// flex-flow: row nowrap;
		// align-items: stretch;
		height: 600px; // set as needed
	}

	> .horizordion--panel {
		// display: block;
		// height: 100%;
		overflow: hidden;
		position: relative;

		// Tablet+Desktop+
		@media (min-width: $breakpoint-tablet-min) {
			flex: 1;
			// flex-grow: 1;
			// flex-shrink: 1;
			transition: flex-grow $animation-speed;

			&.is-active {
				flex-grow: 7;
			}

		}

		// Test Colors
		// sass-lint:disable no-color-literals
		&:nth-child(1) {
			background-color: rgba(red, 0.2);
		}
		&:nth-child(2) {
			background-color: rgba(yellow, 0.2);
		}
		&:nth-child(3) {
			background-color: rgba(blue, 0.2);
		}
		&:nth-child(4) {
			background-color: rgba(green, 0.2);
		}
		// sass-lint:enable no-color-literals

		> .horizordion--tab {

			// Tablet+Desktop+
			@media (min-width: $breakpoint-tablet-min) {
				height: 100%;
				position: absolute;
				right: 0;
				top: 0;
				width: 40px;

				> a {
					@include text-hide;
					display: block;
					background: rgba($color-black, 0.2);
					height: 100%;
					width: 100%;

					&::after {
						content: '';
						display: block;
						background: $color-white url($image-path+'/action-icons.png') no-repeat 0 -30px;
						background-origin: border-box;
						border: 2px solid $color-near-black;
						border-radius: 50%;
						height: 30px;
						position: absolute;
						right: 5px;
						top: 5px;
						width: 30px;
					}

					&:hover, &:focus {
						background: rgba($color-black, 0.1);
					}

					&.is-active {
						background: rgba($color-black, 0.1);

						&::after {
							background-position: 0 0;
						}
					}
				}

			}

		}

		> .horizordion--content {
			opacity: 0;
			padding: 40px 20px 20px;
			position: relative;
			// transition: opacity $animation-speed;

			// Tablet+Desktop+
			@media (min-width: $breakpoint-tablet-min) {
				width: calc(100% - 40px); //minus tab width
			}

		}

		&.is-active {
			> .horizordion--content {
				opacity: 1.0;
				transition: opacity $transition-speed;
				transition-delay: $animation-speed;
			}
		}

	}

}
