//
// Infinite Carousel
// -----------------------------------------------------


.infinite-carousel {
	height: auto;
	margin: 1.5em auto;
	padding: 20px 0;
	position: relative;
	width: 100%;

	.stretch-background {
		background-color: $color-gray-light;
		bottom: 0;
		height: 100%;
		left: calc(50% - 50vw);
		position: absolute;
		right: calc(50% - 50vw);
		top: 0;
		width: 100vw;
	}

	.arrow-nav {
		position: absolute;
		top: calc(35% - 25px);

		&.carousel--nav-prev {
			left: -15px;
		}

		&.carousel--nav-next {
			right: -15px;
		}
	}

	.carousel--outer-mask {
		margin: 0 auto;
		max-width: 400px;
		position: relative;
		width: calc(100% - 80px);
	}

	.carousel--inner-track {
		display: flex;
		flex-wrap: nowrap;
		position: relative;
		width: 100%;
	}

	.carousel--panel {
		flex-shrink: 0;
		padding: 0 10px;
		position: relative;
		width: 100%;
	}
}

@media (min-width: $breakpoint-tablet-min) {

	.infinite-carousel {
		min-height: 414px;
		padding: 40px 0 20px;

		.arrow-nav {
			top: 120px;

			&.carousel--nav-prev {
				left: calc(50% - 300px);
			}

			&.carousel--nav-next {
				right: calc(50% - 300px);
			}
		}

		.carousel--outer-mask {
			max-width: 400px;
			width: 100%;
		}

		.carousel--panel {
			transition: margin $animation-speed, width $animation-speed;

			&.is-active {
				margin: -20px -40px 0;
				width: calc(100% + 80px);
				z-index: 9;
			}
		}
	}
}

@media (min-width: $breakpoint-desktop-min) {
	.infinite-carousel {
		min-height: 424px;
	}
}
