//
// Infinite Carousel
// -----------------------------------------------------


.infinite-carousel {
	height: auto;
	margin: 1.5em auto;
	padding: 20px 0;
	position: relative;
	width: 100%;

	.stretch-background {
		background-color: $color-gray-light;
		bottom: 0;
		height: 100%;
		left: calc(50% - 50vw);
		position: absolute;
		right: calc(50% - 50vw);
		top: 0;
		width: 100vw;
	}

	.arrow-nav {
		position: absolute;
		top: calc(35% - 25px);

		&.nav-prev {
			left: -15px;
		}
		&.nav-next {
			right: -15px;
		}
	}

	.carousel--outer-mask {
		margin: 0 auto;
		max-width: 400px;
		position: relative;
		width: calc(100% - 80px);
	}

	.carousel--inner-track {
		display: flex;
		flex-wrap: nowrap;
		position: relative;
		width: 100%;
	}

	.carousel--panel {
		flex-shrink: 0;
		// opacity: 0.5;
		padding: 0 10px;
		position: relative;
		width: 100%;

		// &.is-active {
		// 	opacity: 1.0;
		// }
	}

}

@media (min-width: $breakpoint-tablet-min) {
	.infinite-carousel {
		min-height: 414px;
		padding: 40px 0 4px;

		.arrow-nav {
			top: 120px;

			&.nav-prev {
				left: calc(50% - 300px);
			}
			&.nav-next {
				right: calc(50% - 300px);
			}
		}

		.carousel--outer-mask {
			left: -120px;
			max-width: 400px;
			width: 100%;
		}

		.carousel--panel {
			transition: transform 0.6s, width 0.6s;

			&.is-active {
				transform: translateY(-20px);
				width: calc(100% + 80px);
			}
		}

	}
}

@media (min-width: $breakpoint-desktop-min) {
	.infinite-carousel {
		min-height: 424px;
	}
}
