//
// Loader Spinner
// -----------------------------------------------------
// make sure loader spinner target el has position defined

.loader-spinner-overlay {
	width: 100%;
	height: 100%;
	background: rgba($white, 0.6) url($image-path+'/spinner.gif') no-repeat center center;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: $spinner-zindex;
}
.loader-spinner-overlay.dark-overlay {
	background-color: rgba($black, 0.8);
	background-image: url($image-path+'/spinner-dark.gif');
}
