//
// Loader Spinner
// -----------------------------------------------------
// make sure loader spinner target el has position defined

.loader-spinner-overlay {
	@include absolute-window;
	background: rgba($color-white, 0.6) url($image-path + '/spinner.gif') no-repeat center center;
	z-index: $spinner-zindex;

	&.dark-overlay {
		background-color: rgba($color-black, 0.8);
		background-image: url($image-path + '/spinner-dark.gif');
	}
}
