//
// Modal Window
// -----------------------------------------------------


// html & body class
.modal-active {
	overflow: hidden;
}

// containing element for modal
.modal-window {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: $modal-zindex;
}

// background element
.modal-overlay {
	animation: fadeOutToNone $animation-speed;
	animation-fill-mode: forwards;
	width: 100%;
	height: 100%;
	background: rgba($black, 0.8);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	&.is-active {
		animation: fadeInFromNone $animation-speed;
		animation-fill-mode: forwards;
	}
}

.modal {
	animation: fadeOutToNone $animation-speed;
	animation-fill-mode: forwards;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: $mobile-gutter-width;
	position: relative;

	&.is-active {
		animation: fadeInFromNone $animation-speed;
		animation-fill-mode: forwards;
	}

	// Tablet+
	@media (min-width: $tablet-breakpoint-min) {
		width: $tablet-container-width - $tablet-gutter-width;
		padding: $tablet-gutter-width;
	}

	// Desktop+
	@media (min-width: $desktop-breakpoint-min) {
		width: $desktop-container-width - $desktop-gutter-width;
		padding: $desktop-gutter-width;
	}

	&.fullscreen-modal {
		width: 100%;
		height: 100%;
		padding: 0;
	}
}

.modal--container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background: $white;
	position: relative;

	// Tablet+
	@media (min-width: $tablet-breakpoint-min) {
		height: auto;
		max-height: 100%;
		min-height: 50%;
		top: 50%;
		transform: translateY(-50%);

		.fullscreen-modal & {
			width: 100%;
			height: 100%;
		}
	}

	.btn-closeX {
		position: absolute;
		right: 5px;
		top: 5px;
	}

	.modal--header,
	.modal--footer {
		flex-grow: 0;
		flex-shrink: 0;
		min-height: 40px; //set height to .btn-closeX + 10px
		position: relative;
	}

	.modal--content {
		flex-grow: 1;
		padding: 20px $mobile-gutter-width;
		overflow-y: auto;
		position: relative;
		// sass-lint:disable no-misspelled-properties
		-webkit-overflow-scrolling: touch;
		// sass-lint:enable no-misspelled-properties

		// Tablet+
		@media (min-width: $tablet-breakpoint-min) {
			padding-left: $tablet-gutter-width;
			padding-right: $tablet-gutter-width;
		}

		// Desktop+
		@media (min-width: $desktop-breakpoint-min) {
			padding-left: $desktop-gutter-width;
			padding-right: $desktop-gutter-width;
		}

	}
}
