//
// Modal Window
// -----------------------------------------------------


// html & body class
.modal-active {
	overflow: hidden;
}

// containing element for modal
.modal-window {
	@include fixed-window;
	overflow: hidden;
	z-index: $modal-zindex;
}

// background element
.modal-overlay {
	@include absolute-window;
	animation: fadeOutToNone $animation-speed;
	animation-fill-mode: forwards;
	background: rgba($color-black, 0.8);

	&.is-active {
		animation: fadeInFromNone $animation-speed;
		animation-fill-mode: forwards;
	}
}

.modal {
	animation: fadeOutToNone $animation-speed;
	animation-fill-mode: forwards;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: $gutter-width-mobile;
	position: relative;

	&.is-active {
		animation: fadeInFromNone $animation-speed;
		animation-fill-mode: forwards;
	}

	// Tablet+
	@media (min-width: $breakpoint-tablet-min) {
		width: $tablet-container-width - $gutter-width-tablet;
		padding: $gutter-width-tablet;
	}

	// Desktop+
	@media (min-width: $breakpoint-desktop-min) {
		width: $desktop-container-width - $gutter-width-desktop;
		padding: $gutter-width-desktop;
	}

	&.fullscreen-modal {
		width: 100%;
		height: 100%;
		padding: 0;
	}
}

.modal--container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background: $color-white;
	position: relative;

	// Tablet+
	@media (min-width: $breakpoint-tablet-min) {
		height: auto;
		max-height: 100%;
		min-height: 50%;
		top: 50%;
		transform: translateY(-50%);

		.fullscreen-modal & {
			width: 100%;
			height: 100%;
		}
	}

	.btn-closeX {
		position: absolute;
		right: 5px;
		top: 5px;
	}

	.modal--header,
	.modal--footer {
		flex-grow: 0;
		flex-shrink: 0;
		min-height: 40px; //set height to .btn-closeX + 10px
		position: relative;
	}

	.modal--content {
		flex-grow: 1;
		padding: 20px $gutter-width-mobile;
		overflow-y: auto;
		position: relative;
		// sass-lint:disable no-misspelled-properties
		-webkit-overflow-scrolling: touch;
		// sass-lint:enable no-misspelled-properties

		// Tablet+
		@media (min-width: $breakpoint-tablet-min) {
			padding-left: $gutter-width-tablet;
			padding-right: $gutter-width-tablet;
		}

		// Desktop+
		@media (min-width: $breakpoint-desktop-min) {
			padding-left: $gutter-width-desktop;
			padding-right: $gutter-width-desktop;
		}

	}
}
