//
// Modal Window
// -----------------------------------------------------


// html & body class
.modal-active {
	overflow: hidden;
}

// containing element for modal
.modal-window {
	@include fixed-window;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: var(--gutter);
	z-index: $modal-zindex;
}

// background element
.modal-overlay {
	@include absolute-window;
	animation: fadeOutToNone $animation-speed;
	animation-fill-mode: forwards;
	background: rgba($color-black, 0.8);

	&.is-active {
		animation: fadeInFromNone $animation-speed;
		animation-fill-mode: forwards;
	}
}

.modal {
	animation: fadeOutToNone $animation-speed;
	animation-fill-mode: forwards;
	background: $color-white;
	height: 100%;
	margin: 0 auto;
	position: relative;
	width: 100%;

	@media (min-width: $breakpoint-tablet-min) {
		height: auto;
		max-height: 100%;
		width: calc(var(--container-width) - var(--gutter));
	}

	&.is-active {
		animation: fadeInFromNone $animation-speed;
		animation-fill-mode: forwards;
	}

	&.fullscreen-modal {
		@include absolute-window;
		height: 100%;
		width: 100%;
	}

	.btn-close {
		position: absolute;
		right: 10px;
		top: 10px;
	}

	.modal--header {
		flex-grow: 0;
		flex-shrink: 0;
		height: 50px; //set height to .btn-close + 20px
		position: relative;
	}

	.modal--main {
		flex-grow: 1;
		height: calc(100% - 50px); //subtract header height to allow content scrolling
		-webkit-overflow-scrolling: touch;
		overflow-y: auto;
	}

	.modal--content {
		padding: 20px var(--gutter);
		position: relative;
	}

}
