//
// Responsive Carousel
// -----------------------------------------------------

/******************************************************************
	Assumes 10 items in carousel, 1 visible item in all views.
	JS will re-calculate widths based on actual length of items.
******************************************************************/

.responsive-carousel {
	height: auto;
	margin: 1.5em auto;
	position: relative;
	width: calc(100% - 80px);

	.arrow-nav {
		position: absolute;
		top: calc(50% - 20px);

		&.nav-prev {
			left: -40px;
		}

		&.nav-next {
			right: -40px;
		}
	}

	.carousel--outer-mask {
		height: 100%;
		left: 0;
		overflow: hidden;
		position: relative;
		top: 0;
		width: 100%;
	}

	.carousel--inner-track {
		@include clearfix;
		display: block;
		height: 100%;
		left: 0;
		position: relative;
		top: 0;
		width: calc(100% * 10);
	}

	.carousel--panel {
		@include clearfix;
		float: left;
		height: auto;
		position: relative;
		width: calc(100% / 10);

		> .carousel--panel-content {
			@include clearfix;
			height: auto;
			position: relative;
			width: 100%;

			&.padded {
				padding: 0 5px;
			}
		}
	}
}
