//
// Tab Switcher
// -----------------------------------------------------


.tabswitcher {
	margin: 1.5em 0;
	position: relative;

	.tabswitcher--tabnav {
		position: relative;

		select {
			margin-bottom: 1.0em;
		}

		> ul {
			display: flex;
			gap: 0.5em;
			list-style: none;
			margin: 0;

			> li {
				display: inline-block;
				margin: 0;

				> a {
					background: $color-near-white;
					color: $color-near-black;
					display: block;
					padding: 0.5em 1.0em;
					text-decoration: none;

					&:hover, &:focus {
						background: $color-gray-light;
					}

					&.is-active {
						background: $color-gray-dark;
						color: $color-white;
					}
				}
			}
		}
	}

	.tabswitcher--panels-container {
		border-bottom: 2px solid $border-color-dark;
		border-top: 2px solid $border-color-dark;
		position: relative;
	}

	.tabswitcher--panel {
		overflow: hidden;
		position: relative;

		.tabswitcher--content {
			padding: 1.5em;
			position: relative;
		}
	}
}
