//
// Application
// -----------------------------------------------------

// 3rd party
@import 'vendor/font-awesome';
@import 'vendor/jquery-ui';
@import 'vendor/nouislider.custom';

// configuration
@import 'config/variables';
@import 'config/mixins';
@import 'config/animations';
@import 'config/flex-grid';
@import 'config/grid';

// base styles
@import 'base/reset';
@import 'base/breakpoint-indicator';
@import 'base/typography';
@import 'base/form-elements';
@import 'base/utility-classes';
@import 'base/responsive-classes';
@import 'base/layout';

// common re-usable styles
@import 'common/arrow-link';
@import 'common/arrow-nav';
@import 'common/buttons';
@import 'common/btn-closeX';
@import 'common/responsive-iframe';

// components used for a specific purpose
@import 'components/hero';
@import 'components/form-group';
@import 'components/cb-rb-group';
@import 'components/mediablock';
@import 'components/image-card';
@import 'components/datepicker';

// JS widgets
@import 'widgets/loader-spinner';
@import 'widgets/infinite-carousel';
@import 'widgets/responsive-carousel';
@import 'widgets/tab-carousel';
@import 'widgets/accordion';
@import 'widgets/tabswitcher';
@import 'widgets/horizordion';
@import 'widgets/modal-window';
@import 'widgets/range-slider';

// unique views
@import 'views/homepage';
@import 'views/gridspage';
@import 'views/videospage';
