//
// Arrow Nav
// -----------------------------------------------------

//recommended to use <a> or <button> tags
.arrow-nav {
	align-items: center;
	color: var(--link-hover-color);
	cursor: pointer;
	display: inline-flex;
	font-size: 32px;
	height: 40px;
	justify-content: center;
	line-height: 1.0;
	padding: 4px;
	position: relative;
	width: 40px;

	&:focus, &:hover {
		color: var(--link-color);
	}

	&[disabled],
	&.is-disabled {
		cursor: default;
		pointer-events: none;

		.fa {
			opacity: 0.2;
		}
	}
}
