//
// Btn Close
// -----------------------------------------------------

//use either <a href="#"> or <button type="button"> tags
.btn-close {
	//@include action-transition();
	border: 1px solid $color-near-black;
	border-radius: $border-radius-sm;
	color: $color-near-black;
	display: inline-block;
	font-size: 16px;
	height: 30px;
	line-height: 1;
	padding: 0;
	text-align: center;
	width: 30px;

	//.fa {
	//
	//}

	&:focus, &:hover {
		background-color: $color-gray-dark;
		background-position: 0 -180px;
		border-color: $color-gray-dark;
		color: $color-white;
	}
}
