//
// Btn Close
// -----------------------------------------------------

//use either <a href="#close"> or <button type="button"> tags
.btn-close {
	@include action-transition();
	@include text-hide;
	background: $color-white url($image-path+'/action-icons.png') no-repeat 0 0;
	background-origin: border-box;
	border: 1px solid $border-color-light;
	border-radius: $border-radius-sm;
	display: inline-block;
	height: 30px;
	padding: 0;
	width: 30px;

	&:focus, &:hover {
		background-color: $color-gray-dark;
		background-position: 0 -180px;
		border-color: $border-color-dark;
	}
}
