//
// Responsive Iframe
// -----------------------------------------------------

// Responsive iframe (youtube, vimeo, google maps, etc)
// default 16x9 aspect
.responsive-iframe {
	aspect-ratio: 16/9;
	height: auto;
	position: relative;
	width: 100%;

	&.ar4x3 {
		aspect-ratio: 4/3;
	}

	> iframe {
		@include absolute-window;
		// may need to override inline width & height
		height: 100%;
		width: 100%;
	}
}
