//
// Responsive Iframe
// -----------------------------------------------------

// Responsive iframe (youtube, vimeo, google maps, etc)
// default 16x9 aspect
.responsive-iframe {
	width: 100%;
	height: auto;
	padding-top: 56.25%;
	position: relative;

	&.ar4x3 {
		padding-top: 75.0%; //4x3 aspect ratio
	}

	> iframe {
		@include absolute-window;
	}
}
