
		<footer class="site-footer themed-elem theme-gray-white" id="footer">
			<div class="container">
				<nav>
					<ul class="inline">
						<li><a href="/index.html">index</a></li>
						<li><a href="/forms.html">forms</a></li>
						<li><a href="/grids.html">grids</a></li>
						<li><a href="/hero.html">hero</a></li>
						<li><a href="/modals.html">modals</a></li>
						<li><a href="/promise.html">promise</a></li>
						<li><a href="/typography.html">typography</a></li>
						<li><a href="/videos.html">videos</a></li>
						<li><a href="/widgets.html">widgets</a></li>
						<li><a href="/rangeslider.html">range-slider</a></li>
					</ul>
				</nav>
			</div>
		</footer>
