<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

	<title>@@title</title>
	<meta name="description" content="@@description" />
	<meta name="keywords" content="@@keywords" />

	<link rel="preconnect" href="https://fonts.gstatic.com" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Arvo:ital@0;1&family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap" media="print" onLoad="this.media='all'" />
	<link rel="stylesheet" href="/_assets/styles/@@appName.css" />
	<link rel="stylesheet" href="/_assets/styles/print.css" media="print" />

	<script src="/_assets/scripts/vendor.js"></script>
	<script src="/_assets/scripts/@@appName.js"></script>
</head>
