//
// Forms
// -----------------------------------------------------


//
// Start basic form elements
//

$base-input-width: 160px;
$xshort-input-width: 40px;
$short-input-width: 80px;
$long-input-width: 240px;
$xlong-input-width: 320px;
$xxlong-input-width: 480px;

fieldset {
	margin-bottom: 1.5em;
}

legend {
	display: none;
}

label, span.label {
	display: inline-block;
	color: $gray-dark;
	font-size: 16px; //1.0em;
	font-weight: bold;
	line-height: 1.2;
	vertical-align: top;
	padding-top: 2px; // matches input padding-top for vertical alignment
	span.sm {
		font-size: 0.9em;
		font-weight: normal;
	}
	&.disabled {
		color: $gray-light;
	}
}

output {
	display: inline-block;
	color: $gray-dark;
	font-size: 16px; //1.0em;
	font-weight: bold;
	line-height: 1.2;
	padding-top: 2px; // matches input padding-top for vertical alignment
}

input, select, textarea, button {
	display: inline-block;
	color: $gray-dark;
	font-family: $main-font;
	font-size: 16px; //1.0em;
	line-height: 1.2;
	vertical-align: top;
	background: $transparent;
	box-shadow: 0;
	border: 0;
	margin: 0;
	padding: 0;
}

// Removed dotted line from input on Firefox
input::-moz-focus-inner {
	border: 0;
}

input:invalid,
select:invalid,
textarea:invalid {
	box-shadow: none;
	outline: 0;
}

::-webkit-input-placeholder {
	color: $gray-med;
	opacity: 1;
}
::-moz-placeholder {
	color: $gray-med;
	opacity: 1;
}
:-ms-input-placeholder {
	color: $gray-med;
	opacity: 1;
}
::placeholder {
	color: $gray-med;
	opacity: 1;
}
:focus::-webkit-input-placeholder {
	color: transparent;
	opacity: 0;
}
:focus::-moz-placeholder {
	color: transparent;
	opacity: 0;
}
:focus:-ms-input-placeholder {
	color: transparent;
	opacity: 0;
}
:focus::placeholder {
	color: transparent;
	opacity: 0;
}

//
// Start text inputs, selects, textareas

input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'],
input[type='tel'],
input[type='url'],
input[type='search'],
select,
textarea {
	appearance: none;
	width: $base-input-width;
	height: calc(1.2em + 6px); // 1.2 line-height + 6px padding & border
	border: 1px solid $border-color-light;
	border-radius: $border-radius-sm;
	outline: 0;
	padding: 2px;
}

select {
	width: auto;
	min-width: $short-input-width;
	max-width: 100%;
	background: $transparent url($image-path+'/select-btn.png') no-repeat right center;
	padding-right: 20px;
}
select::-ms-expand {
	display: none;
}

textarea {
	width: 100%;
	height: calc(3.6em + 6px); // 1.2 line-height x 3, + 6px padding & border
	resize: none;
	@media (max-width: $mobile-breakpoint-max) {
		// display: block;
		max-width: $long-input-width;
	}
	@media (min-width: $tablet-breakpoint-min) {
		width: $long-input-width;
	}
}

input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type='number']:focus,
input[type='tel']:focus,
input[type='url']:focus,
input[type='search']:focus,
select:focus,
textarea:focus {
	border-color: $border-color-dark;
	outline: none;
}

input[type='text'][disabled],
input[type='password'][disabled],
input[type='email'][disabled],
input[type='number'][disabled],
input[type='tel'][disabled],
input[type='url'][disabled],
input[type='search'][disabled],
input[type='text'].disabled,
input[type='password'].disabled,
input[type='email'].disabled,
input[type='number'].disabled,
input[type='tel'].disabled,
input[type='url'].disabled,
input[type='search'].disabled,
select[disabled], select.disabled,
textarea[disabled], textarea.disabled {
	color: $gray-light;
	border-color: $border-color-xlight;
}

// input[type='text']:invalid,
// input[type='password']:invalid,
// input[type='email']:invalid,
// input[type='number']:invalid,
// input[type='tel']:invalid,
// input[type='url']:invalid,
// input[type='search']:invalid,
// select:invalid,
// textarea:invalid,
input[type='text'].invalid,
input[type='password'].invalid,
input[type='email'].invalid,
input[type='number'].invalid,
input[type='tel'].invalid,
input[type='url'].invalid,
input[type='search'].invalid,
select.invalid,
textarea.invalid {
	border-color: $error-color;
}

input.input-med,
select.input-med {
	// default width
	width: $base-input-width;
}
input.input-xshort,
select.input-xshort {
	width: $xshort-input-width;
	min-width: $xshort-input-width;
}
input.input-short,
select.input-short {
	width: $short-input-width;
}
input.input-long,
select.input-long {
	width: $long-input-width;
}
input.input-xlong,
select.input-xlong {
	width: $xlong-input-width;
}
input.input-auto,
select.input-auto {
	width: auto;
	min-width: auto;
}

textarea.textarea-med {
	height: calc(4.8em + 6px); // 1.2 line-height x 4, + 6px padding & border
	@media (max-width: $mobile-breakpoint-max) {
		// display: block;
		max-width: $xlong-input-width;
	}
	@media (min-width: $tablet-breakpoint-min) {
		width: $xlong-input-width;
	}
}
textarea.textarea-lrg {
	height: calc(7.2em + 6px); // 1.2 line-height x 6, + 6px padding & border
	@media (max-width: $mobile-breakpoint-max) {
		// display: block;
		max-width: $xxlong-input-width;
	}
	@media (min-width: $tablet-breakpoint-min) {
		width: $xxlong-input-width;
	}
}

//
// End text inputs, selects, textareas

// Start checkbox & radio inputs
//

input[type='checkbox'],
input[type='radio'] {
	// setting exact size removes IE padding, makes uniform cross-browser
	width: 20px;
	height: 20px;
	cursor: pointer;
	vertical-align: middle;

	& + label {
		padding-top: 0;
	}

	&[disabled], &.disabled {
		cursor: default;

		& + label {
			color: $gray-light;
		}

	}

}

//
// End checkbox & radio inputs

// Start range input
//

input[type='range'] {
	width: $base-input-width;
	height: 24px;
	cursor: pointer;

	&[disabled], &.disabled {
		cursor: default;
	}

}

//
// End range input

// Start buttons
//

input[type='submit'],
input[type='reset'],
input[type='button'],
button {
	appearance: none;
	cursor: pointer;
}

// TODO: use .button class instead
// input[type='submit'],
// input[type='reset'],
// input[type='button'],
// button {
// 	@include base-transition();
// 	appearance: none;
// 	cursor: pointer;
// 	font-size: 16px; //1.0em;
// 	font-weight: bold;
// 	line-height: 1.2;
// 	text-align: center;
// 	text-decoration: none;
// 	text-transform: uppercase;
// 	vertical-align: middle;
// 	background: $gray-light;
// 	border: 1px solid $border-color-dark;
// 	border-radius: $border-radius-sm;
// 	padding: 4px 12px;
//
// 	&:focus, &:hover {
// 		background: $gray-xlight;
// 		outline: none;
// 	}
// }

// TODO: move .btn styles to separate scss stylesheet
// input.btn, input.sm-btn,
// button.btn, button.sm-btn {
// 	color: $white;
// 	background: $link-color;
// }
// input.alt-btn, input.sm-alt-btn,
// button.alt-btn, button.sm-alt-btn {
// 	color: $link-color;
// 	background: $white;
// 	border-color: $link-color;
// }
// input.sm-btn, input.sm-alt-btn,
// button.sm-btn, button.sm-alt-btn {
// 	min-width: auto;
// 	font-size: 12px;
// 	font-weight: normal;
// 	padding: 1px 8px;
// }
// input.btn:focus, input.btn:hover,
// input.sm-btn:focus, input.sm-btn:hover,
// button.btn:focus, button.btn:hover,
// button.sm-btn:focus, button.sm-btn:hover {
// 	background: $link-hover-color;
// }
// input.alt-btn:focus, input.alt-btn:hover,
// input.sm-alt-btn:focus, input.sm-alt-btn:hover
// button.alt-btn:focus, button.alt-btn:hover,
// button.sm-alt-btn:focus, button.sm-alt-btn:hover {
// 	color: $gray-dark;
// 	background: $white;
// 	border-color: $gray-dark;
// }

//
// End buttons

// Start misc
//

// message below an input field
.form-message,
.form-note {
	display: block;
	color: $gray-med;
	font-size: 12px;
	line-height: 16px;
}
@media (min-width: $tablet-breakpoint-min) {
	// note next to an input field
	.form-note {
		display: inline-block;
		margin-left: 5px;
		padding-top: 5px;
		vertical-align: top;
	}
}

input + input, input + select, input + textarea, input + output,
select + input, select + select, select + textarea, select + output,
textarea + input, textarea + select, textarea + textarea, textarea + output {
	margin-left: 5px;
}

//
// End misc

//
// End basic form elements
//


//
//	Start fieldsets & lists
//

// start list classes for text inputs, selects, textareas
//

//use with ol or ul tags
.horizontal-fields,
.vertical-fields,
.inline-fields,
.column-fields {
	list-style: none;
	margin: 0;
	> li {
		min-height: 24px; /* matches input height */
		margin: 0 0 1.0em;
	}
}

// side-by-side label/input
.horizontal-fields > li > label,
.horizontal-fields > li > span.label {
	width: 120px;
	text-align: right;
	margin-right: 5px;
}
.horizontal-fields.label-width-short > li > label,
.horizontal-fields.label-width-short > li > span.label,
.horizontal-fields > li > label.width-short,
.horizontal-fields > li > span.label.width-short {
	width: 80px;
}
.horizontal-fields.label-width-long > li > label,
.horizontal-fields.label-width-long > li > span.label,
.horizontal-fields > li > label.width-long,
.horizontal-fields > li > span.label.width-short {
	width: 160px;
}
.horizontal-fields.label-width-auto > li > label,
.horizontal-fields.label-width-auto > li > span.label,
.horizontal-fields > li > label.width-auto,
.horizontal-fields > li > span.label.width-short {
	width: auto;
}
.horizontal-fields.label-align-left > li > label,
.horizontal-fields.label-align-left > li > span.label,
.horizontal-fields > li > label.align-left,
.horizontal-fields > li > span.label.align-left {
	text-align: left;
}

// line-up .form-message with text inputs (matches label width + margin)
.horizontal-fields {
	.form-message {
		margin-left: 130px; // matches label width + margin
	}
}
.horizontal-fields.label-width-short {
	.form-message {
		margin-left: 90px;
	}
}
.horizontal-fields.label-width-long {
	.form-message {
		margin-left: 170px;
	}
}

// stacked label/input
.vertical-fields > li > label,
.vertical-fields > li > span.label {
	display: block;
	margin: 0 0 4px;
}

// inline labels/inputs
.inline-fields > li {
	display: inline-block;
	margin-right: 10px;
}
.inline-fields > li.full-width {
	display: block;
	margin-right: 0;
}
.inline-fields > li > label,
.inline-fields > li > span.label {
	margin-right: 5px;
}

// label/input in pseudo columns
.column-fields {
	@include clearfix;
}
.column-fields > li {
	width: 50%;
	padding-right: 1em;
}
.column-fields > li:nth-child(odd) {
	float: left;
	clear: left;
}
.column-fields > li:nth-child(even) {
	float: right;
	clear: right;
}

//
// end list classes for text inputs, selects, textareas

// start list classes for checkbox and radio inputs
//

// use as a modifier class with .vertical-fields or .inline-fields
.cb-rb-fields {
	> li {
		min-height: 20px;
		margin-bottom: 0.75em;
		> label {
			display: block;
			margin: 0 0 0 24px;
		}
	}
	input[type='checkbox'],
	input[type='radio'] {
		float: left;
	}
}

.vertical-fields.cb-rb-fields > li > label {
	margin: 0 0 0 24px;
}

.inline-fields.cb-rb-fields > li {
	display: inline-block;
	margin-right: 10px;
}

// line-up nested .cb-rb-fields with text inputs (matches label width + margin)
.horizontal-fields .cb-rb-fields {
	display: inline-block;
	vertical-align: top;
	margin: 2px 0 -8px;
}

.horizontal-fields > li > .cb-rb-fields:first-child {
	margin-left: 128px;
}
.horizontal-fields.label-width-short > li > .cb-rb-fields:first-child {
	margin-left: 88px;
}
.horizontal-fields.label-width-long > li > .cb-rb-fields:first-child {
	margin-left: 168px;
}

// fieldset/div wrapper for form buttons
.form-btns {
	clear: both;
	border-top: 1px solid $border-color-med;
	margin-bottom: 1.5em;
	padding-top: 1.0em;
}

//
//	End fieldsets & lists
//
