//
// Grid Layouts
// -----------------------------------------------------

.grid {
	display: grid;
	gap: var(--gutter);
}

.grid-cell {
	&.grid-cell-2x {
		grid-column-end: span 2;
		grid-row-end: span 2;
	}
}

// Mobile+ - default
.grid-sm-1-1 {grid-template-columns: 1fr;}
.grid-sm-1-2 {grid-template-columns: repeat(2, 1fr);}
.grid-sm-1-3 {grid-template-columns: repeat(3, 1fr);}
.grid-sm-1-4 {grid-template-columns: repeat(4, 1fr);}
.grid-sm-1-5 {grid-template-columns: repeat(5, 1fr);}
.grid-sm-1-6 {grid-template-columns: repeat(6, 1fr);}
.grid-sm-1-7 {grid-template-columns: repeat(7, 1fr);}
.grid-sm-1-8 {grid-template-columns: repeat(8, 1fr);}
.grid-sm-1-9 {grid-template-columns: repeat(9, 1fr);}
.grid-sm-1-10 {grid-template-columns: repeat(10, 1fr);}
.grid-sm-1-12 {grid-template-columns: repeat(12, 1fr);}

// Tablet+
@media (min-width: $breakpoint-tablet-min) {
	.grid-md-1-1 {grid-template-columns: 1fr;}
	.grid-md-1-2 {grid-template-columns: repeat(2, 1fr);}
	.grid-md-1-3 {grid-template-columns: repeat(3, 1fr);}
	.grid-md-1-4 {grid-template-columns: repeat(4, 1fr);}
	.grid-md-1-5 {grid-template-columns: repeat(5, 1fr);}
	.grid-md-1-6 {grid-template-columns: repeat(6, 1fr);}
	.grid-md-1-7 {grid-template-columns: repeat(7, 1fr);}
	.grid-md-1-8 {grid-template-columns: repeat(8, 1fr);}
	.grid-md-1-9 {grid-template-columns: repeat(9, 1fr);}
	.grid-md-1-10 {grid-template-columns: repeat(10, 1fr);}
	.grid-md-1-12 {grid-template-columns: repeat(12, 1fr);}
}

// Desktop+
@media (min-width: $breakpoint-desktop-min) {
	.grid-lg-1-1 {grid-template-columns: 1fr;}
	.grid-lg-1-2 {grid-template-columns: repeat(2, 1fr);}
	.grid-lg-1-3 {grid-template-columns: repeat(3, 1fr);}
	.grid-lg-1-4 {grid-template-columns: repeat(4, 1fr);}
	.grid-lg-1-5 {grid-template-columns: repeat(5, 1fr);}
	.grid-lg-1-6 {grid-template-columns: repeat(6, 1fr);}
	.grid-lg-1-7 {grid-template-columns: repeat(7, 1fr);}
	.grid-lg-1-8 {grid-template-columns: repeat(8, 1fr);}
	.grid-lg-1-9 {grid-template-columns: repeat(9, 1fr);}
	.grid-lg-1-10 {grid-template-columns: repeat(10, 1fr);}
	.grid-lg-1-12 {grid-template-columns: repeat(12, 1fr);}
}
