//
// Base Layout
// -----------------------------------------------------


// html, body {
// 	max-width: 100%;
// 	overflow-x: hidden;
// 	width: 100%;
// }

body {
	background: var(--bg-color) url($image-path+'/bg-main-mobi.jpg') no-repeat fixed center top;
	background-size: cover;
	// CAUTION: experimental, may need to remove overflow from html & body, may not work in Safari.
	// use overscroll-behavior to stop the "bounce" or refresh effect
	// when getting to the top or bottom scroll limits of the page.
	// overscroll-behavior: none;

	@media (min-width: $breakpoint-tablet-min) {
		background-image: url($image-path+'/bg-main-tabt.jpg');
	}

	@media (min-width: $breakpoint-desktop-min) {
		background-image: url($image-path+'/bg-main-desk.jpg');
	}
}

.page-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
	width: 100%;
}

.site-header,
.site-footer,
.site-main,
.container,
.container-fluid,
.content {
	position: relative;
}

.site-main {
	flex-grow: 1;
	padding: var(--gutter) 0;
}

.container,
.container-fluid {
	margin: 0 auto;
	padding: 0 var(--gutter);
}

.container {
	width: var(--container-width);
}

.container-fluid {
	width: 100%;
}

// TEMP content style
.content {
	background-color: $color-white;
	border-bottom: 2px solid $color-gray-dark;
	border-top: 2px solid $color-gray-dark;
	padding: var(--gutter) 0;
}

.content + .content {
	margin-top: var(--gutter);
}
