//
// Base Layout
// -----------------------------------------------------


html, body {
	max-width: 100%;
	min-width: $min-width;
	overflow-x: hidden;
	width: 100%;
}

body {
	@include clearfix;
	background: $body-bg url($image-path+'/bg-main-mobi.jpg') no-repeat fixed center top;
	background-size: cover;
	@media (min-width: $breakpoint-tablet-min) {
		background-image: url($image-path+'/bg-main-tabt.jpg');
	}
	@media (min-width: $breakpoint-desktop-min) {
		background-image: url($image-path+'/bg-main-desk.jpg');
	}
}

.page-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-width: $min-width;
	position: relative;
	width: 100%;
}

.site-header,
.site-footer,
.site-main,
.container,
.container-fluid,
.content {
	@include clearfix;
	position: relative;
}

.site-main {
	flex-grow: 1;
	padding: $mobile-vertical-spacing 0;
	@media (min-width: $breakpoint-tablet-min) {
		padding: $tablet-vertical-spacing 0;
	}
	@media (min-width: $breakpoint-desktop-min) {
		padding: $desktop-vertical-spacing 0;
	}
}

.content-container,
.content-container-fluid {
	margin: 0 auto;
	padding: $mobile-vertical-spacing $mobile-gutter-width;
	@media (min-width: $breakpoint-tablet-min) {
		padding: $mobile-vertical-spacing $tablet-gutter-width;
	}
	@media (min-width: $breakpoint-desktop-min) {
		padding: $mobile-vertical-spacing $desktop-gutter-width;
	}
}

.content-container {
	@media (max-width: $breakpoint-mobile-max) {
		max-width: $mobile-container-max-width;
	}
	@media (min-width: $breakpoint-tablet-min) {
		width: $tablet-container-width;
	}
	@media (min-width: $breakpoint-desktop-min) {
		width: $desktop-container-width;
	}
	@media (min-width: $breakpoint-desktop-wide) {
		width: $desktop-wide-container-width;
	}
}

.content-container-fluid {
	max-width: $max-width;
	width: 100%;
}

.site-header,
.site-footer {
	background-color: $color-gray-dark;
	color: $color-white;
}

// TEMP content style
.content {
	background-color: $color-white;
	border-top: 2px solid $color-gray-dark;
	border-bottom: 2px solid $color-gray-dark;
}

.content + .content {
	margin-top: $mobile-vertical-spacing;
	@media (min-width: $breakpoint-tablet-min) {
		margin-top: $tablet-vertical-spacing;
	}
	@media (min-width: $breakpoint-desktop-min) {
		margin-top: $desktop-vertical-spacing;
	}
}
