//
// Base Layout
// -----------------------------------------------------


html, body {
	max-width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	width: 100%;
}

body {
	background: var(--bg-color) url($image-path + '/bg-main-sma.jpg') no-repeat fixed center top;
	background-size: cover;

	@media (min-width: $breakpoint-tablet-min) {
		background-image: url($image-path + '/bg-main-med.jpg');
	}

	@media (min-width: $breakpoint-desktop-min) {
		background-image: url($image-path + '/bg-main-lrg.jpg');
	}
}

.page-container,
.site-header,
.site-footer,
.site-main,
.container,
.container-fluid,
.content {
	position: relative;
}

.page-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
}

.site-header,
.site-footer {
	padding: $gutter-half 0;
}

.site-main {
	flex-grow: 1;
	padding: var(--gutter-double) 0;
}

.container,
.container-fluid {
	margin: 0 auto;
	padding: 0 var(--gutter);
}

.container {
	width: var(--container-width);
}

.container-fluid {
	width: 100%;
}

// TEMP content style
.content {
	background-color: $color-white;
	border-bottom: 2px solid $color-gray-dark;
	border-top: 2px solid $color-gray-dark;
	padding: var(--gutter) 0;
}

.content + .content {
	margin-top: var(--gutter-double);
}
