//
// Utility Classes
// -----------------------------------------------------


.align-center,
.text-center {
	text-align: center;
}

.align-left,
.text-left {
	text-align: left;
}

.align-right,
.text-right {
	text-align: right;
}

.block {
	display: block;
}

.clear {
	clear: both;
}

.nowrap {
	white-space: nowrap;
}

.no-margin {
	margin: 0;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.accelerate {
	@include accelerate;
}

.center-block {
	@include center-block;
}

.clearfix {
	@include clearfix;
}

.absolute-window {
	@include absolute-window;
}

.fixed-window {
	@include fixed-window;
}

.offscreen,
.sr-only {
	@include offscreen;
}

.text-hide {
	@include text-hide;
}

.hide,
.hidden {
	@include hidden;
}

.show,
.visible {
	@include visible;
}

.flex-box {
	display: flex;
}


// Lists

nav ul, nav ol {list-style: none;}

ul.disc-list {list-style-type: disc;}
ul.circle-list {list-style-type: circle;}
ul.square-list {list-style-type: square;}
ol.numbered-list {list-style: decimal;}
ol.lower-alpha {list-style: lower-alpha;}
ol.upper-alpha {list-style: upper-alpha;}
ol.lower-roman {list-style: lower-roman;}
ol.upper-roman {list-style: upper-roman;}

ul.plain, ol.plain {list-style: none;}

ul.inline, ol.inline {
	list-style: none;
	> li {
		display: inline-block;
		margin: 0 0.2em;
	}
}


// Images

img.block {
	display: block;
	margin: 0 0 1.0em;
}

img.inline {
	display: inline;
	margin: 0 0.2em;
	vertical-align: bottom;
}

img.inset-left {
	float: left;
	margin: 0 20px 1.0em 0;
}

img.inset-right {
	float: right;
	margin: 0 0 1.0em 20px;
}


// Misc

script[type='text/template'] {
	@include hidden;
}

.error {
	color: $error-color;
	font-weight: bold;
}

.required {
	color: $required-color;
	font-weight: bold;
}

.intro, .lead {
	font-size: 1.2em;
	margin-bottom: 1.5em;
}
