//
// Utility Classes
// -----------------------------------------------------


.align-center,
.text-center {
	text-align: center;
}

.align-left,
.text-left {
	text-align: left;
}

.align-right,
.text-right {
	text-align: right;
}

.block {
	display: block;
}

.clear {
	clear: both;
}

.nowrap {
	white-space: nowrap;
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.center-block {
	@include center-block;
}

.clearfix {
	@include clearfix;
}

.absolute-window {
	@include absolute-window;
}

.fixed-window {
	@include fixed-window;
}

.sr-only {
	@include sr-only;
}

.text-hide {
	@include text-hide;
}

.hide,
.hidden {
	@include hidden;
}

.show,
.visible {
	@include visible;
}

.flex-box {
	display: flex;
}


// Lists

ul.disc-list {list-style-type: disc;}
ul.circle-list {list-style-type: circle;}
ul.square-list {list-style-type: square;}
ol.numbered-list {list-style: decimal;}
ol.lower-alpha {list-style: lower-alpha;}
ol.upper-alpha {list-style: upper-alpha;}
ol.lower-roman {list-style: lower-roman;}
ol.upper-roman {list-style: upper-roman;}

ul.plain, ol.plain {list-style: none;}

ul.inline, ol.inline {
	list-style: none;

	> li {
		display: inline-block;
		margin: 0 0.2em;
	}
}


// Images

img.img-inline {
	display: inline;
	margin: 0 0.2em;
	vertical-align: bottom;
}

img.img-inset-left {
	float: left;
	margin-right: 20px;
}

img.img-inset-right {
	float: right;
	margin-left: 20px;
}


// Misc

script[type='text/template'] {
	@include hidden;
}

.error, .required {
	color: $alert-color;
	font-weight: bold;
}
